{% load static %}
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://x.com/michael_dev_sof" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/twitter.png' %}" alt="ícone twitter">
        </a>
        <a href="https://www.instagram.com/michael_dev_software/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Michael, durante treinamento de Python da Escola Alura</p>
</footer>